.u-section-1 .u-sheet-1 {
  min-height: 940px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 871px;
  margin: 155px auto 60px 121px;
}

.u-section-1 .u-image-1 {
  min-height: 599px;
  background-image: url("WhatsAppImage2022-04-13at10.26.38PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 599px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px 29px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 743px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-2 .u-icon-1 {
  width: 134px;
  height: 134px;
  margin: 55px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  width: 571px;
  margin: -76px auto 0;
}

.u-section-2 .u-list-1 {
  width: 795px;
  margin: 64px auto 55px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 696px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 2.25rem;
  margin: 46px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 2.25rem;
  margin: 46px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.4em;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 2.25rem;
  margin: 46px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  font-size: 1.4em;
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 929px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 553px;
  margin: 33px auto 0 11px;
}

.u-section-3 .u-text-1 {
  font-size: 10rem;
  margin: -221px 21px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0 486px;
}

.u-section-3 .u-social-icons-1 {
  height: 56px;
  min-height: 16px;
  width: 187px;
  min-width: 68px;
  margin: 9px auto 58px 150px;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: -2px;
  }

  .u-section-3 .u-text-2 {
    width: 654px;
    margin-top: 56px;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 524px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-top: -192px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: 21px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -72px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-bottom: 50px;
  }
}